.content-home{
    background-image: url('../../../public/assets/svg/galaxy.svg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.btnDownload{
    clip-path: polygon(90% 0, 100% 34%, 100% 100%, 10% 100%, 0 66%, 0 0);
    text-transform: uppercase;
    transition: all .3s ease;
    border: 1px solid #fff;
    background:linear-gradient(rgba(244, 213, 249, 1), rgba(59, 28, 180, 1))
}