

.content-home{
    background-image: url('../../../public/assets/svg/volarant.svg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 580px;
}
.btnDownload{
    /* clip-path: polygon(90% 0, 100% 34%, 100% 100%, 10% 100%, 0 66%, 0 0); */
    text-transform: uppercase;
    transition: all .3s ease;
    /* background:#14c2a3; */
    border: 3px solid #14c2a3;
    position: relative;
}

.btnDownload:hover{
    border: 3px solid #fff;
    transition-duration: .3s;
}
.video{
    margin: 0 auto;
    overflow: hidden;
    width: 70%;
}
.zooming{
    animation: both;
    -webkit-animation: zoom 10s ease 0s infinite normal both;
}
.memberImg{
  
  margin-bottom: 40px;
  
  text-align: center;
  
  padding: 0px 20px;
}
.memberImg a > img {
  border: 2px solid #282931;
  border-radius: 50%;
  transition: .3s linear;
  display: inline-block;
  position: relative;
  /* width: 100px; */
}

.memberImg a::before {
  content: "\f0c1";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 40px;
  opacity: 0;
  color: #14c2a3;
  transition: .3s linear;

}

.memberImg a > img:hover{
  border-radius: 50%;
  border: 2px solid #14c2a3;
  color: #14c2a3;
    text-decoration: none;
}
