.aboutSocial{
    background: url('../../../src/assets/svg/about_social.svg');
    background-repeat: no-repeat;
    background-size: cover;
    border:1px solid #ffffff;
    border-radius: 60px;
    
}

@media  screen and (max-width:991px) {
    .uppersection h1 {
        text-align: center;
        padding: 20px 0px;
    }
    .uppersection p{
        text-align: center;
        padding: 10px ;
    }
    
}