.headerWrap{
    background: #1f2029;
    position: relative;
    box-shadow: 0px 3px 27px 0px rgba(0, 0, 0, 0.36);
    z-index: 9;
}
.headerWrap::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -18px;
    width: 175px;
    height: 18px;
    background: #1f2029;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 18% 100%);
}
.headerWrap::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -18px;
    width: 175px;
    height: 18px;
    background: #1f2029;
    clip-path: polygon(0 0, 100% 0%, 82% 100%, 0% 100%);
}
.header{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}
.content-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.content-menu h1{
    color: white;
    padding: 0px 10px;
    font-size: 25px;

}
.btnDownload{
    clip-path: polygon(90% 0, 100% 34%, 100% 100%, 10% 100%, 0 66%, 0 0);
    text-transform: uppercase;
    transition: all .3s ease;
    border: 1px solid #fff;
    background:linear-gradient(rgba(244, 213, 249, 1), rgba(59, 28, 180, 1))
}

/* @media (max-width: 1500px){
    .headerWrap::before, .headerWrap::after {
        width: 115px;
    }

} */
@media (max-width: 992px){
    .headerWrap::before, .headerWrap::after {
        display: none;
    }

}

